<br />
<div>
    <% if (!isFirstPage && posts.length>0) { %>
    <span class="prepage">
        <a title="上一页" href="?p=<%= page-1 %>">上一页</a>
    </span>
    <% } %>
    <% if (!isLastPage && posts.length>0) { %>
    <span class="nextpage">
        <a title="下一页" href="?p=<%= page+1 %>">下一页</a>
    </span>
    <% } %>
</div>
