<%- include header %>
<div class="row">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="primary-box">
          <div class="primary-box-bd gxs-tags text-center">
            <a class="label label-default" href="/tags/html&frasl;css">html &frasl; css</a>
            <a class="label label-primary" href="/tags/javascript">javascript</a>
            <a class="label label-success" href="/tags/js插件">js插件</a>
            <a class="label label-info" href="/tags/手机移动">手机移动</a>
            <a class="label label-warning" href="/tags/性能优化">性能优化</a>
            <a class="label label-danger" href="/tags/类库优化">类库优化</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="primary-box widget widget-modified">
          <%- include me %>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include footer %>